body {
  background-color: black;
}

.Title {
  font-size: 40px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Bundle {
  margin-top: 0px;
  margin-bottom: 8px;
}

.Ordis {
  background-color: crimson;
}

.Invite {
  text-decoration: none;
  color: blueviolet;
  background-color: yellow;
}